doctype html
html
 head
   title= title
   link(href='stylesheets/bootstrap.css', rel='stylesheet')
   link(href='mysite.css', rel='stylesheet', media='screen')
 body
   block content

 script(type='text/javascript', src='javascripts/jquery.js')
 script(type='text/javascript', src='javascripts/bootstrap.min.js')