extends layout

block content
  div.container
    div.row
      div.col-md-6-col-md-offset-3
        h1 Registration
        form(role='form', action='/register', method='POST', style='max-width: 300px;')
          .form-group
            input.form-control(type='text', name='firstname', placeholder='Firstname', required)
          .form-group
            input.form-control(type='text', name='lastname', placeholder='Lastname', required)
          .form-group
            input.form-control(type='text', name='email', placeholder='Email', required)
          .form-group
            input.form-control(type='password', name='password', placeholder='Password', required)
          button.btn.btn-primary(type='submit') Register
          &nbsp;
          a(href='/login')
            button.btn.btn-primary(type='button') Cancel
          if errors && errors.length > 0
            ul
              each error, i in errors
                li
                  = error.msg