extends ../layout

block content
  div.container
    p Blog
    hr
    form(role='form', action='/user/:id/blog/add', method='POST', style='max-width: 300px;')
      .form-group
          input.form-control(type='text', name='blogTitle', placeholder='Title', required, autofocus)
      .form-group
          textarea(rows=10, type='text', name='blogBody', placeholder='Body', required)
      button.btn.btn-primary(type='submit') Add Blog
      &nbsp;
      a(href='/blog')
        button.btn.btn-primary(type='button') Cancel